/buoi5/buoi5/nbproject/private/
/buoi5/buoi5/build/
/buoi5/bai2/nbproject/private/
/buoi5/bai2/build/
/buoi5/bai1/nbproject/private/
/buoi5/bai1/build/
/buoi5/bai3/nbproject/private/
/buoi5/bai3/build/
/buoi4/bai1/build/
/buoi4/bai1/nbproject/private/
/buoi4/bai2/build/
/buoi4/bai2/nbproject/private/
/buoi4/bai3/build/
/buoi4/bai3/nbproject/private/
/buoi4/bai4/build/
/buoi4/bai4/nbproject/private/
